*.o
*.cmd
*modules.builtin
*.symvers
*modules.order
vmlinux
*.dtb
*.tmp_vmlinux1
*.tmp_vmlinux2
*.tmp_versions/
*.missing-syscalls.d
*/.config.old
.old_version
* Module.symvers
include/config/crash/
include/config/proc/vmcore.h
.tmp_System.map
*.tmp_kallsyms1.S
*.tmp_kallsyms2.S
*System.map
arch/arm/kernel/asm-offsets.s
arch/arm/lib/lib.a
arch/arm/mach-msm/dma_test.ko
arch/arm/mach-msm/dma_test.mod.c
arch/arm/mach-msm/msm-buspm-dev.ko
arch/arm/mach-msm/msm-buspm-dev.mod.c
arch/arm/mach-msm/reset_modem.ko
arch/arm/mach-msm/reset_modem.mod.c
arch/arm/oprofile/oprofile.ko
arch/arm/boot/Image
arch/arm/boot/compressed/piggy.lzo
arch/arm/boot/compressed/vmlinux
arch/arm/boot/zImage
arch/arm/oprofile/oprofile.mod.c
block/test-iosched.ko
block/test-iosched.mod.c
crypto/ansi_cprng.ko
crypto/ansi_cprng.mod.c
drivers/char/rdbg.ko
drivers/char/rdbg.mod.c
drivers/coresight/coresight-event.ko
drivers/coresight/coresight-event.mod.c
drivers/crypto/msm/qcedev.ko
drivers/crypto/msm/qcedev.mod.c
drivers/crypto/msm/qcrypto.ko
drivers/crypto/msm/qcrypto.mod.c
drivers/gud/mcDrvModule.ko
drivers/gud/mcDrvModule.mod.c
drivers/gud/mcKernelApi.ko
drivers/gud/mcKernelApi.mod.c
drivers/input/evbug.ko
drivers/input/evbug.mod.c
drivers/input/misc/gpio_axis.ko
drivers/input/misc/gpio_axis.mod.c
drivers/input/misc/gpio_event.ko
drivers/input/misc/gpio_event.mod.c
drivers/input/misc/gpio_input.ko
drivers/input/misc/gpio_input.mod.c
drivers/input/misc/gpio_matrix.ko
drivers/input/misc/gpio_matrix.mod.c
drivers/input/misc/gpio_output.ko
drivers/input/misc/gpio_output.mod.c
drivers/media/radio/radio-iris-transport.ko
drivers/media/radio/radio-iris-transport.mod.c
drivers/media/video/gspca/gspca_main.ko
drivers/media/video/gspca/gspca_main.mod.c
drivers/mmc/card/mmc_block_test.ko
drivers/mmc/card/mmc_block_test.mod.c
drivers/mmc/card/mmc_test.ko
drivers/mmc/card/mmc_test.mod.c
drivers/scsi/scsi_wait_scan.ko
drivers/scsi/scsi_wait_scan.mod.c
drivers/spi/spidev.ko
drivers/spi/spidev.mod.c
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
include/config/bsp/hw/b/8226ds/
include/config/bsp/hw/sku/8226ds.h
include/config/cpu/freq/default/gov/interactive.h
include/config/cpu/freq/gov/conservative.h
include/config/cpu/freq/gov/interactive.h
include/config/decompress/bzip2.h
include/config/decompress/gzip.h
include/config/rd/bzip2.h
include/config/rd/gzip.h
include/config/securityfs.h
include/config/sku/8226/
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
net/wireless/regdb.c
security/selinux/av_permissions.h
security/selinux/flask.h
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio
include/config/bsp/hw/b/
include/config/bsp/hw/sku/8926ds.h
include/config/cpu/freq/default/gov/performance.h
include/config/isdbt/
include/config/kernel/lzo.h
include/config/sku/
include/config/cpu/boost.h
include/config/wq/
arch/arm/kernel/vmlinux.lds
include/config/quad/
include/config/localversion/auto.h
scripts/
include/config/ksm.h
include/config/cpu/freq/gov/
include/config/sound/
include/config/powersuspend.h



